body{
    background-color: #2D3748 !important;
    min-height: 100vh;
    overflow-y: scroll;

    }
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.vcenter-item{
    align-items: center;
}
.dcenter-item{
 margin: auto;
}
/* Some custom styles to beautify this example */
.wrapper{

    padding:  130px 0px;
}
#centralBox{
    background-color: #00FFC1;
    height: 60vh;
    
    
   
}

.mainBox{
    padding: 150px 0;
    height: 100%;
}

#getData {
    min-height: 8em;
    margin: 2%;
    
}

.getDataheader  {
    
    padding-bottom: 0.5em;
    
}

.getDatabox{
    min-height: fit-content;
    margin: 0;
    background-color: #212529;;

}

.getDatabox1{
    min-height: 5%;
    margin: 0;
    background-color: #212529;
    border: 1px solid #00FFC1;
    margin-left: 0.25em;
    margin-right: 0.25em;

}

.Databox1{
    min-width: 16em;
    max-width: 20%;
}

img{

    width: 100%;
    color-rendering: optimizespeed;
    shape-rendering: optimizespeed;
    image-resolution: from-image;
    image-resolution: 72dpi;
    image-resolution: from-image 72dpi;
    background-color: #343A3F !important;

}

.mainBoxcontainer{
    height: 100%;
    background-color: white!important;
}


.dropboxes{
    background: #212529;
}

.card{
    background-color: #212529;
}

.description{
    height: 70%;
}

#dashboard{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

}

.DataDash{
    min-height: 8em;


   
}


#galleryBack{
    overflow-x: hidden;
    overflow-y: auto;
}



#likesBox, #DislikesBox{
    min-height: 100px;
}

.expand{
    float: right!important;
}

#dashFooter{
    bottom: 68px;
    padding: 1%;
}

#imagesGrid{
    margin: 6rem 0;
    padding: 0 10%;
    
    
}

#imgBtn{
    background: white!important;
    border-radius: 0px!important;
    height: 40px;
    width: 40px;
}
#imgBtn:hover{
    background: rgb(213, 212, 212)!important;
}

/* OVERFLOWS */

.overflowX{
    overflow-x: auto;
}

.overflowY{
    overflow-y: auto;
}

/*BACKGROUNDS*/
#headerTitle{
padding-top: 15vh;
}

.bg-white{
    background-color: white!important;
}

.bgdark50{
    background-color: rgba(0, 0, 0, 0.50)!important;
}

/* font colors */

.white{
    color: white!important;
}
/*Paddings*/

.pt-10 {
    padding-top: 100px;
}

.pb-10 {
    padding-bottom: 100px;
}

/*Z-index*/
.z-1{
    z-index: 1;
}
.z-2000{
    z-index: 2000;
}

/*borders*/

.border-dot{
    
    background-color: none !important;
    color: #00FFC1;
    padding: 0.2em;
    border-radius: 30%;
}

.br1{
    border-radius: 1em ;
}
/*heights*/
.h-content{
    height: fit-content;
}

.h-10{
    height: 10%!important;
}
.h-25{
    height: 25%!important;
}
.h-40{
    min-height: 400px!important;
}

.h-60{
    height: 60%!important;
}

.vh-60{
    height: 60vh!important;
}


.h-90{
    height: 90%!important;
}



/*widths*/
.w-49{
    width: 49%!important;
}
.w-content{
    width: fit-content;
}

.w-min-content{
    width: min-content!important;
}

/*positioning*/

.absolute-bottom {
    bottom: 0!important;
}

/*special buttons*/

#addImg{
    background-color: rgba(212, 212, 212, 0.918) ;
    width: 3em;
    height: 3em;
    color: white;
    display: none;

}

#similarBox:hover > #addImg{
    display: block;
}

#addImg:hover{
    background-color: rgba(117, 218, 147, 0.918) ;
  

}

.a-top{
    vertical-align:top; 
}



/*code for gallery grid*/


 
  
  div#dvSource.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
  }
  
  /* Create four equal columns that sits next to each other */

  .column div img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  /* tutorial boxes */
  #tutorial1{
      top: 50%;
      left: 10%;
      display: block;
  }

  #tutorial2{
    top: 60%;
    left: 30%;
    display: none;
}

#tutorial3{
    top: 40%;
    left: 30%;
    display: none;
}
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

#MainFooter{
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

#DashHeader{
    width: fit-content;
}

#displayimg{
    
    left: 25%;
    display:none;

}
#closeimg{
    right: 0%
}
.seeme{
    display:block !important;
}

#tutorials{
   position: fixed;
   height: 100vh;
   overflow: auto;
   
}

html {
    min-height: 100vh;
}


#similarImg0 {
    height: 15em;
  }
.simimages{
    min-width: 16em;
    max-width: 16em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

#wrap{
    background-color: #2D3748;
    padding-top: 0% !important;
}

.btn-success {
    color: rgb(0, 0, 0) !important;
    background-color: #00FFC1 !important;
    border-color: #00FFC1 !important;
}

#wrap2{
    background-color: #2D3748;
    }


#centralBox{
margin-top: 5%;
margin-bottom: 5%;
}

#refimg{
    width: 40%;
    background-color: #212529;
}


#refimgcontainer{
    background-color: #212529;
    min-height: 20%;
   
}

.flextofit{
    flex-grow: 1;
}

.navcolor{
    background-color: #252525 !important;
}
.Headercolor{
    background-color: #121619 !important;
}